***Importing all packages/libraries and datasets***

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
fd_14 = pd.read_csv("./Stocks/2014_Financial_Data.csv")
fd_15 = pd.read_csv("./Stocks/2015_Financial_Data.csv")
fd_16 = pd.read_csv("./Stocks/2016_Financial_Data.csv")
fd_17 = pd.read_csv("./Stocks/2017_Financial_Data.csv")
fd_18 = pd.read_csv("./Stocks/2018_Financial_Data.csv")

In [2]:
# print(fd_14.head())
# print(fd_15.head())
# print(fd_16.head())
# print(fd_17.head())
# print(fd_18.head())
print(fd_14.shape)
print(fd_14.columns)
print(fd_14[["Unnamed: 0", "Asset Growth", "2015 PRICE VAR [%]", "Class"]])

(3808, 225)
Index(['Unnamed: 0', 'Revenue', 'Revenue Growth', 'Cost of Revenue',
       'Gross Profit', 'R&D Expenses', 'SG&A Expense', 'Operating Expenses',
       'Operating Income', 'Interest Expense',
       ...
       'Receivables growth', 'Inventory Growth', 'Asset Growth',
       'Book Value per Share Growth', 'Debt Growth', 'R&D Expense Growth',
       'SG&A Expenses Growth', 'Sector', '2015 PRICE VAR [%]', 'Class'],
      dtype='object', length=225)
     Unnamed: 0  Asset Growth  2015 PRICE VAR [%]  Class
0            PG        0.0359           -9.323276      0
1          VIPS           NaN          -25.512193      0
2            KR        0.1886           33.118297      1
3           RAD       -0.0189            2.752291      1
4           GIS        0.0215           12.897715      1
...         ...           ...                 ...    ...
3803       TSRI       -0.0041           29.362884      1
3804       TZOO       -0.1872          -31.167763      0
3805      USATP           NaN          -23.558900      0
3806       WSTG        0.0023            7.779579      1
3807        WTT       -0.1646          -34.099613      0

[3808 rows x 4 columns]

***Attempting to clean data***

In [3]:
# Dropped those columns with more than 50% of their elements as NULL
fd_14 = fd_14.dropna(thresh=len(fd_14)/2, axis=1)
print(fd_14.head())
print(fd_14.shape)

  Unnamed: 0       Revenue  Revenue Growth  Cost of Revenue  Gross Profit  \
0         PG  7.440100e+10         -0.0713     3.903000e+10  3.537100e+10
1       VIPS  3.734148e+09          1.1737     2.805625e+09  9.285226e+08
2         KR  9.837500e+10          0.0182     7.813800e+10  2.023700e+10
3        RAD  2.552641e+10          0.0053     1.820268e+10  7.323734e+09
4        GIS  1.790960e+10          0.0076     1.153980e+10  6.369800e+09

   R&D Expenses  SG&A Expense  Operating Expenses  Operating Income  \
0  0.000000e+00  2.146100e+10        2.146100e+10      1.391000e+10
1  1.083303e+08  3.441414e+08        7.939267e+08      1.345959e+08
2  0.000000e+00  1.519600e+10        1.751200e+10      2.725000e+09
3  0.000000e+00  6.561162e+09        6.586482e+09      7.372520e+08
4  0.000000e+00  3.474300e+09        3.412400e+09      2.957400e+09

   Interest Expense  ...  Receivables growth  Inventory Growth  Asset Growth  \
0      7.090000e+08  ...             -0.0187           -0.0217        0.0359
1      1.214869e+07  ...                 NaN               NaN           NaN
2      4.430000e+08  ...              0.0618            0.0981        0.1886
3      4.245910e+08  ...              0.0211           -0.0510       -0.0189
4      3.024000e+08  ...              0.0257            0.0090        0.0215

   Book Value per Share Growth  Debt Growth  R&D Expense Growth  \
0                       0.0316       0.1228              0.0000
1                          NaN          NaN              1.6484
2                       0.3268       0.2738              0.0000
3                       0.1963      -0.0458              0.0000
4                       0.0274       0.1025              0.0000

   SG&A Expenses Growth              Sector  2015 PRICE VAR [%]  Class
0               -0.1746  Consumer Defensive           -9.323276      0
1                1.7313  Consumer Defensive          -25.512193      0
2                0.0234  Consumer Defensive           33.118297      1
3               -0.0060  Consumer Defensive            2.752291      1
4               -0.0220  Consumer Defensive           12.897715      1

[5 rows x 222 columns]
(3808, 222)

In [4]:

fd_14.isnull().sum()

Unnamed: 0                0
Revenue                  44
Revenue Growth          236
Cost of Revenue          74
Gross Profit             52
                       ...
R&D Expense Growth      247
SG&A Expenses Growth    243
Sector                    0
2015 PRICE VAR [%]        0
Class                     0
Length: 222, dtype: int64

In [5]:
# Test to see how many rows will be left if all NULL valued rows were removed
# print(fd_14.dropna().shape)

**THIS IS NOT GOOD AS WE LOST A LOT OF DATA**

In [6]:
testGrowth = list(map(lambda x: 1 if not np.isnan(x) else 0, fd_14["Revenue Growth"]))
fd_14["testGrowth"] = testGrowth

In [17]:
test14 = fd_14[(fd_14.testGrowth == 0)] ## Null values
test14[['Class', 'testGrowth']]
print(test14.groupby('Class')['Class'].count())

test14 = fd_14[(fd_14.testGrowth == 1)] ## Non Null values
test14[['Class', 'testGrowth']]
print(test14.groupby('Class')['Class'].count())

Class
0    114
1    122
Name: Class, dtype: int64
Class
0    2060
1    1512
Name: Class, dtype: int64

**Looking at relationships between some variables**

In [6]:
# print(fd_14["Revenue"])
fd_14["Revenue"] = fd_14["Revenue"].fillna(0.0) 
# fd_14["Revenue Growth"] = fd_14["Revenue Growth"].fillna(fd_14["Revenue Growth"].mean())

In [13]:
# fig = plt.figure()


# plt.bar(x=fd_14['Class'], y = fd_14["testGrowth"])
# plt.xlabel("Revenue Growth")
# plt.ylabel("Should I buy it or not")
# plt.hist()
# plt.show()
test14['Class'].value_counts()

1    122
0    114
Name: Class, dtype: int64

In [11]:
# col = list(fd_14.columns)
# rev = list(filter(lambda a: "revenue" in a or "Revenue" in a, col))
# print(rev)
# expenses = list(filter(lambda a: "expense" in a or "Expense" in a, col))
# print(expenses)
print(fd_14["Revenue Growth"].mean())
print(fd_14["Revenue Growth"])

12.95424370100784
0      -0.0713
1       1.1737
2       0.0182
3       0.0053
4       0.0076
         ...
3803    0.1028
3804   -0.1019
3805       NaN
3806    0.1344
3807    0.1925
Name: Revenue Growth, Length: 3808, dtype: float64